{% extends "frontmain/orderslist.html" %}
{% load static %}
{% block content %}

<section class="section">
    <div class="swiper-form-wrap">
      <!-- Swiper-->
      <div class="swiper-container swiper-slider swiper-slider_height-1 swiper-align-left swiper-align-left-custom context-dark bg-gray-darker" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-slide-bg="images/swiper-slide-1.jpg">
            <div class="swiper-slide-caption">
              <div class="container container-bigger swiper-main-section">
                <div class="row row-fix justify-content-sm-center justify-content-md-start">
                  <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                    <h3>Hundreds of Amazing Destinations</h3>
                    <div class="divider divider-decorate"></div>
                    <p class="text-spacing-sm">We offer a variety of destinations to travel to, ranging from exotic to some extreme ones. They include very popular countries and cities like Paris, Rio de Janeiro, Cairo and a lot of others.</p><a class="button button-default-outline button-nina button-sm" href="#">learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!-- Swiper controls-->
        <div class="swiper-pagination-wrap">
          <div class="container container-bigger">
            <div class="row">
              <div class="col-sm-12">
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-bigger form-request-wrap form-request-wrap-modern">
        <div class="row row-fix justify-content-sm-center justify-content-lg-end">
          <div class="col-lg-6 col-xxl-5">
            <div class="form-request form-request-modern bg-gray-lighter novi-background">
            
              <h4>Create Order</h4>
              <!-- RD Mailform-->
              <form class="rd-mailform form-fix" action="" method="POST">{% csrf_token %}
                <div class="row row-20 row-fix">



                    <div class="col-sm-12">
                        <label class="form-label-outside">Title</label>
                        <div class="form-wrap form-wrap-inline">
                            <input required class="form-input" name="title" type="text" placeholder="My Title" />
                  
                        </div>
                      </div>






                  <div class="col-sm-12">
                    <label class="form-label-outside">Subject</label>
                    <div class="form-wrap form-wrap-inline">
                      <select class="form-input select-filter" data-placeholder="All" data-minimum-results-for-search="Infinity" name="subject">
                        <option value="Accounting">Accounting</option>
                        <option value="Management">Management</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Finance">Finance</option>
                        <option value="Nursing">Nursing</option>
                        <option value="Arts">Arts</option>
                        <option value="History">History</option>
                        <option value="English">English</option>
                        <option value="Law">Law</option>
                        <option value="Economics">Economics</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>


                  <div class="col-sm-12">
                    <label class="form-label-outside">Pages</label>
                    <div class="form-wrap form-wrap-modern">
                        <input class="form-input input-append" id="form-element-stepper-1" type="number" min="0" max="300" value="1" name="pages"/>
                    </div>
                  </div>
                




                  <div class="col-lg-6">
                    <label class="form-label-outside">Days</label>
                    <div class="form-wrap form-wrap-modern">
                      <input class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="0" name="days"/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label-outside">Hours</label>
                    <div class="form-wrap form-wrap-modern">
                      <input class="form-input input-append" id="form-element-stepper-1" type="number" min="0" max="300" value="0" name="hours"/>
                    </div>
                  </div>
                </div>
                <div class="form-wrap form-button">
                  <button class="button button-block button-secondary" type="submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}