{% extends "frontmain/main.html" %}
{% block title %}Active Orders{% endblock %}
{% load static %}
{% block content %}
{% load humanize %}
<section>
  
<script>
  var countDownDate = new Date("{{ order.deadline.isoformat}}").getTime();
  console.log(countDownDate);
  var myfunc = setInterval(function() {
    // code goes here
    var now = new Date().getTime();
    var timeleft = countDownDate - now;
    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

    if (days > 0) {
    document.getElementById("timer").innerHTML = "Time Remaining: " + days + "D " + hours + "H " + minutes + "M " + seconds + "S";
    } else {
      document.getElementById("timer").innerHTML = "Time Remaining: " + hours + "H " + minutes + "M " + seconds + "S";
    }
    //document.getElementById("hours").innerHTML = hours + "H ";
    //document.getElementById("mins").innerHTML = minutes + "M ";
    //document.getElementById("secs").innerHTML = seconds + "S ";


    if (timeleft < 0) {
      clearInterval(myfunc);
      document.getElementById("timer").innerHTML = ""
      //document.getElementById("hours").innerHTML = "" 
      //document.getElementById("mins").innerHTML = ""
      //document.getElementById("secs").innerHTML = ""
      document.getElementById("none").innerHTML = " TIME REMAINING: NONE";
  }


    }, 1000)


  
</script>





  <div class="orderdetails">
    <div class="sided"></div>



    <div>
      <div class="orderdetailsmain">
        {% if not orderinfo %}
        <div class="alert alert-primary mt-2" role="alert">
          Add clear instructions for your paper, to enable writers better understand what is required.
        </div>
        {% endif %}
        {% if order.paid == False %}
        <div class="alert alert-primary mt-2" role="alert">
          Complete your order by making a payment. <a href="{% url 'proceed_payment' order.id %}" class="alert-link">Click Here to Proceed</a>
        </div>
        {% endif %}


        <div class="card mt-3 text-left">
          <div class="card-header">
            <h6 class="small"><strong>Requirements</strong></h6>
            <p class="small">Formating: <strong>{{ order.level }} Level</strong></p>
          </div>
        </div>

        <div class="mt-3 mb-3" >

          {% if order.paid == False %}
      
          <p class="small mb-3 mt-3 text-center" style="text-transform: uppercase; color: gray; letter-spacing: 2px;">
          <strong>
            TIME REMAINING:
            {% if order.days %}
             {{ order.days }} Days
            {% endif %}
            {% if order.hours %} 
            {{ order.hours }} Hours
            {% endif %}
          </strong>
        </p>
   
      {% else %}
   
      
      <p id="timer" class=" small text-center" style="text-transform: uppercase; color: gray; letter-spacing: 2px;font-weight: bold;"></p>
      <p id="none" class=" small text-center" style="text-transform: uppercase; color: #A9A9A9; letter-spacing: 2px;font-weight: bold;"></p>
      <!--
      <p  id="days" style="display:inline-block; text-transform: uppercase; color: #A9A9A9; letter-spacing: 2px;font-weight: bold;" class="small text-center" ></p>
      <p id="hours" style="display:inline-block; text-transform: uppercase; color: #A9A9A9; letter-spacing: 2px;font-weight: bold;" class="small text-center"></p>
      <p id="mins" style="display:inline-block; text-transform: uppercase; color: #A9A9A9; letter-spacing: 2px;font-weight: bold;" class="small text-center"> </p>
      <p id="secs" style="display:inline-block; text-transform: uppercase; color: #A9A9A9; letter-spacing: 2px;font-weight: bold;" class="small text-center"> </p>
      <p id="none" style="display:inline-block; text-transform: uppercase; color: #A9A9A9; letter-spacing: 2px;font-weight: bold;" class="small text-center"> </p>
      -->
 
      {% endif %}
          
        </div>




        
        {% if order.title %}
        <div class="mb-3 mt-3">
          <p class="text-center" style="font-size:1.5em;color:black;font-weight: bold;"><strong>{{ order.title}}</strong></p>
        </div>
      {% else %}
      <div class="mb-3 mt-3">
          <p class="text-center" style="font-size:1.5em;color:black;font-weight: bold;"><strong>{{ order.subject }} Essay</strong></p>
        </div>
      {% endif %}
  

        <div class="order-details1 mt-3 mb-2 pt-3 pb-3">
          <div>


            <div class="unit unit-spacing-xs">
              <div class="unit-left"><span class="icon fa fa-graduation-cap"></span></div>
              <div class="unit-body">
                <p style="color:black;"><strong>{{ order.subject}}</strong></p>
              </div>
            </div>
            
          </div>
          <div>

            <div class="unit unit-spacing-xs">
              <div class="unit-left"><span class="icon fa fa-file-text"></span></div>
              <div class="unit-body">
                <p style="color:black;"><strong>{{ order.pages}} ({{ words}} Words)</strong></p>
              </div>
            </div>



            
          </div>
          <div>

            <div class="unit unit-spacing-xs">
              <div class="unit-left"><span class="icon fa fa-credit-card"></span></div>
              <div class="unit-body">
                <p style="color:black;"><strong>KES {{ cost }}</strong></p>
              </div>
            </div>



            
          </div>
          <div>


            <div class="unit unit-spacing-xs">
              <div class="unit-left"><span class="icon fa fa-pencil"></span></div>
              <div class="unit-body">
                {% if order.paid == False %}
                <p style="color:black;"><a href="{% url 'order_update' order.id %}" ><strong>Edit</strong></a></p>
                {% else %}
                <p style="color:black;"><a data-toggle="tooltip" data-placement="top" title="Order Details Unchangeable After Payment"><strong>Edit</strong></a></p>
                {% endif %}
              </div>
            </div>
            




          </div>
        </div>

        <br><br>



        {% for obj in orderinfo %}
        {% if obj.is_mod == False %}

        <div class="text-left"> 
          {% if obj.instructions %}
          <p class="text-left pl-2" style="color: black;">{{ obj.instructions|safe}}</p>
          {% endif %}
          {% if obj.file %}

          <div>
            <a target="_blank" href="{{ obj.file.url }}" class="list-group-item list-group-item-action list-group-item-primary" style="padding:0.5rem;">

              <div class="file-row-disp mt-4">
                <div>
                  <span class="icon fa {{obj.css_class}} mb-1" style="font-size:5em;color:gray;"></span>
                </div>
                <div>
                  <p>{{ obj.filename|truncatechars:15 }}</p>
                </div>
              
              </div>
              

            </a>
          </div>

        
          

          {% endif %}
          <br>
          <div>
            <p class="text-right small">{{ obj.created_at|naturaltime }}</p>
          </div>
          <br>
          
        </div>



        {% elif obj.is_mod == True and obj.is_answer == False %}




       
          <div >
            {% if obj.instructions %}
            <p class="text-left pl-2">{{ obj.instructions|safe}}</p>
            {% endif %}
          </div>
          {% if obj.file %}

          <div>
            <a target="_blank" href="{{ obj.file.url }}" class="list-group-item list-group-item-action list-group-item-primary" style="padding:0.5rem;">

              <div class="file-row-disp mt-4">
                <div>
                  <span class="icon fa {{obj.css_class}} mb-1" style="font-size:5em;color:gray;"></span>
                </div>
                <div>
                  <p>{{ obj.filename|truncatechars:15 }}</p>
                </div>
              
              </div>
              

            </a>
          </div>

        
          

          {% endif %}









        <br>
          <div>
            <p class="text-right small">{{ obj.created_at|naturaltime }}</p>
          </div>
          <br>






        {% elif obj.is_mod == True and obj.is_answer == True %}
       
        <div style="background-color: lightcyan;padding-top:0.5rem;">
        
          <div>
            {% if obj.instructions %}
            <p class="text-left ml-3 pl-2">{{ obj.instructions|safe}}</p>
            
            {% endif %}
          </div>
          <p style="padding-left:0.5rem;">Project successfully completed. Let us know in case of any questions. Writers are on standby to assist.</p>










        {% if obj.file %}

        <div>
          <a target="_blank" href="{{ obj.file.url }}" class="list-group-item list-group-item-action" style="padding:0.5rem;">

            <div class="file-row-disp mt-4">
              <div>
                <span class="icon fa {{obj.css_class}} mb-1" style="font-size:5em;color:gray;"></span>
              </div>
              <div>
                <p>{{ obj.filename|truncatechars:15 }}</p>
              </div>
            
            </div>
            

          </a>
        </div>
        {% endif %}
        <p style="padding-left:0.5rem;">"Feel free to create new projects in a diverse range of both technical and non technical fields. Our writers are some of the best in the market and will deliver solutions that match your expectations." </p>
      </div>
          
          

          <br>
          <div>
            <p class="text-right small">{{ obj.created_at|naturaltime }}</p>
          </div>
          <br>
        {% endif %}
        {% endfor%}
        
    




      <div class="addinst">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          <br>
          <button type="submit" class="btn btn-primary mb-5" style="width: 100%;color:black;">Post</button>
          
        </form>
       
       

      </div>











      
      </div>





    </div>




    <div class="sided"></div>
  </div>
</section>


{% endblock %}

