{% extends "frontmain/orderslist.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<style>

    .fcc-btn {
        background-color: #199319;
        color: white;
        padding:0.5rem 3rem;
        text-decoration: none;
    }  
    .fcc-btn1 {
        background-color: dodgerblue;
        color: white;
        padding:0.5rem 3rem;
        text-decoration: none;
        border-radius: 0.3rem;
    }        




</style>

{% if not orders %}
<section>
    <div class="orderdetails">
        <div class="sidediv1"></div>
        <div class="no-order" >


            <div class="card text-center">
            
                <div class="card-body">
                  <h5 class="card-title">No Orders To Show</h5>
                  <p class="card-text mb-2">No complete orders at the moment. Create a new order to get started.</p>
                  <a class="fcc-btn1 mt-2 mt-2 mb-2" href="{% url 'create_new' %}">Create Order</a>
                </div>
                
              </div>




        </div>
        <div class="sidediv1"></div>
    </div>




</section>

{% else  %}


<section>

  
    <div class="orderdetails">
        <div class="sidediv1"></div>
        <div class="mt-3">


             <div class="list-group">
            {% for obj in orders %}
            
            <a href="{% url 'order_detail' obj.id %}" class="list-group-item list-group-item-action">
                <div class="orderlistdiv">
                    <div>
                        {% if obj.title %}
                        <strong>{{ obj.title|truncatewords:5 }}</strong>
                        {% else %}
                        <strong>{{ obj.subject }} Essay</strong>
                        {% endif %}
                    </div>
                    <div >
                       
                        <div class="in-progress">
                        <div>
                            <span class="icon fa fa-check-square-o fa-2x mb-1" style="color:green"></span>
                            
                            <!--<img src="{% static 'frontmain/images2/arrows.png' %}" style="width: 100%;" alt="Computer man" > -->
                        </div>
                        <div>
                            <p style="color:black;"><strong>&nbsp;&nbsp;Complete</strong></p>
                        </div>
                        </div>
                      

                        
                      
                    </div>
                    
                    <div>
                        
                        <p style="color:dodgerblue;"><strong>
                            {% if obj.days and obj.days > 1 %}
                            {{ obj.days }} days&nbsp;
                            {% elif obj.days and obj.days == 1%}
                            {{ obj.days }} day&nbsp;
                            {% endif %}
                            {% if obj.hours and obj.hours > 1 %}
                            {{ obj.hours }} hours
                            {% elif obj.hours and obj.hours == 1 %}
                            {{ obj.hours }} hour
                            {% endif %}
                            </strong>
                        </p> 
               
                        
                    </div>
                </div>
            </a>







            {% endfor %}
           
            
          </div>

          
















           









            


            
            













        </div>
        <div class="sidediv1"></div>
    </div>





    

</section>
{% endif %}
{% endblock %}

