{% extends "frontmain/front.html" %}
{% block title %}Passsword Reset{% endblock %}
{% load static %}
{% block content %}




<div class="new-order-input">
    <div></div>
    <div>
        <h4 class="mt-3 mb-3">Login</h4>
            {% load crispy_forms_tags %}
            <h4 class="mt-3 mb-3">Reset Your Password</h4>
          {% load crispy_forms_tags %}
          <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary mt-3 mb-3" style="width: 100%;">Submit</button> 
            </form>
    </div>
    <div></div>
</div>

{% endblock %}